#navbar(class="navbar navbar-fixed-top")
    #navbarInner(class="navbar-inner")
        #navbarContainer(class="container")
            a(class="btn btn-navbar",  data-toggle="collapse", data-target=".nav-collapse")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="brand", href="#") #{title}
            #menuItems(class="nav-collapse")
                ul(class="nav")
                    li(class="active")
                        a(href="#") Home
                    li
                        a(href="about") About
                    li
                        a(href="contact") Contact
#container(class="container")
    #messages(class="hero-unit")
        h1 Messages will be appended here!

footer    
    input(type="text", placeholder="Type something…")
    input(type="button", class="btn btn-large btn-primary" value="Send")