body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bottom-dock {
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    color: #fff; 
    background: #000;
    padding: 3px;
}

.buttonContainer {
	padding-left:1%;
	display:inline;
	text-align:right;
}

#txtMessage {
	width:89%;
}
#btnSend {
	width:9%;
	vertical-align:top;
}

li {
    list-style:none;
}

li.message {
    
}

li.joined {
   font-weight: bold;
}
