body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*overflow:hidden;*/
}

a {
  color: #00B7FF;
}

.bottom-dock {
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%;
    color: #fff; 
    background: #000;
    padding: 2px;
}

#btnColumn {	
	width:9%;
	display:inline;
	float:right;	
	margin-left:1%;
}

#txtColumn {
	width:90%;
	float:left;	
}


#txtMessage {
	width:100%;
	
}
#btnSend {
	width:99%;
	vertical-align:top;
	margin-right:1%;
	/*margin-left:1%;*/
} 

ul {
   
}

li {
    list-style:none;
}

ul.users li {
   cursor:pointer;
}

li.message {

}

li.joined {
   font-weight: bold;
}

#container {
	overflow:auto;	
}

#sidebar {
	background-color:#ACDED6;
}

#main {
	background-color:#ACDED6;
}
