body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bottom-dock {
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    color: #fff; 
    background: #000;
}